{% extends 'index.html' %} {% block content %}
<div class="boardBG">
	<div class="boardShadow">
		지금도 시간은 가고있어요...
	</div>
	<div class="boardNeedle">
	</div>
</div>
<div class="board" >
	<div class="homeContent">
		<div style="justify-content: center;
    padding: 1vw;
    border-bottom: 1px solid #d2d2d2;"> <span id="talk" style="align-items: center;border-bottom:2px solid aqua;cursor:pointer;"><img src="/photo/talk.png" style="width:30px; height:30px;">공시생잡담</span> <span id="pass" style="margin-left:3vw;align-items: center;cursor:pointer;"><img src="/photo/pass.png" style="width:30px; height:30px;"> 합격후기</span>
		</div>
		<!--글쓰기-->
		<div id="writePost" onClick="location.href='/write';" style="    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    flex: 1;
    justify-content: flex-end;
    cursor: pointer;
    margin-right: 2vw;">
			<img src="/photo/writing.png" style="width:30px; height:30px; ">글작성
		</div>
		
		<div id="gossip"style="flex-direction:column; margin-top:3vh;flex-wrap:wrap;">
			
			<!-- 이곳에 게시판글 나타냄
			-->
			{% for post in talk %}
			<div style="transform: translate(-2vw);
    width: 80%;">
				
				<div style="    width: 10%;
    border-top: 2px solid gray;
    border-right: 2px solid gray;">
				</div>
				<div style=" width: 30px;
    height: 30px;
    transform: translate(-15px,-10px);
    background: url(/photo/gridBook.png) no-repeat;
    background-size: 100% 100%;">
				</div>
				<div style="width: 85%;border-radius: 10px;
    flex-direction: column;
    background: linear-gradient(
90deg
, white, transparent);">
					<div style="align-items:center;">
						<span style="margin-left:2vw;background: white;
    border-radius: 50%;
    padding: 5px;    border: 1px solid #d2d2d2;"><img src="{{post.User.profile}}" style="width:30px; height:30px;border-radius: 50%;"> </span><span style="margin-left:2vw;">{{post.User.nth}}수생 {{post.User.nick}}xx</span> 
						
					{% if user.id==post.UserId %}
						<span onClick="delPost({{post.id}});" style="margin-left: 40px;"><img src="/photo/trash.png" style="width:20px;height:20px;"></span>
					{% endif %}
						
					</div>
					<div style="margin-left:2vw;font-size:0.6rem;"> {{post.createdAt.getFullYear()}}년 {{post.createdAt.getMonth()+1}}월
                {{post.createdAt.getDate()}}일 {{post.createdAt.getHours()+9}}시
                {{post.createdAt.getMinutes()}}분 {{post.createdAt.getSeconds()}}초</div>
					<div style="padding:2vw;font-size:0.7rem;">
						{{post.title}}
					</div>
					<div style="padding:2vw;">
						{{post.content}}
					</div>
					{% if post.img %}
						<img src="{{post.img}}" style="width:100%;margin-bottom:1vh;border-radius: 3px;">
					{% endif %}
				
					<div style="padding-left:2vw;padding-bottom: 5vh;">
						<!--
						<span onClick="comment({{post.id}});" style="align-items:center;margin-right:1vw;cursor:pointer;"><img src="/photo/message.png" style="width:30px; height:30px;margin-right:1vw;"> 0</span>-->
						
						<span onClick="glike({{post.id}},{{loop.index}});" style="align-items:center;margin-right:1vw;cursor:pointer;">
							{% if post.tof=='false' %}
							<img src="/photo/likeBE.png" id="glike{{loop.index}}"style="width:30px; height:30px;margin-right:1vw;">
							{% else %}
														<img src="/photo/likeAF.png" id="glike{{loop.index}}"style="width:30px; height:30px;margin-right:1vw;">

							{% endif %}
							<span id="glikeLength{{loop.index}}">
							{{post.cnt}}
							</span></span>
					</div>
					<!-- 댓글
					{% for comment in post %}
					<div>
						
					</div>
					{% endfor %}
					-->
				</div>
			</div>
			{% endfor %}
		</div>
		
		<div id="hoogi" style="flex-direction:column; margin-top:3vh;flex-wrap:wrap;">
			<!-- 이곳에 게시판글 나타냄
			-->
			{% for post in pass %}
			<div style="transform: translate(-2vw);
    width: 80%;">
				
				<div style="    width: 10%;
    border-top: 2px solid gray;
    border-right: 2px solid gray;">
				</div>
				<div style=" width: 30px;
    height: 30px;
    transform: translate(-15px,-10px);
    background: url(/photo/gridBook.png) no-repeat;
    background-size: 100% 100%;">
				</div>
				<div style="width: 85%;border-radius: 10px;
    flex-direction: column;
    background: linear-gradient(
90deg
, white, transparent);">
					<div style="align-items:center;">
						<span style="margin-left:2vw;background: white;
    border-radius: 50%;
    padding: 5px;    border: 1px solid #d2d2d2;"><img src="{{post.User.profile}}" style="width:30px; height:30px;border-radius: 50%;"> </span><span style="margin-left:2vw;">{{post.User.nth}}수생 {{post.User.nick}}xx</span> 
						
					{% if user.id==post.UserId %}
						<span onClick="delPost({{post.id}});" style="margin-left: 40px;"><img src="/photo/trash.png" style="width:20px;height:20px;"></span>
					{% endif %}
						
					</div>
					<div style="margin-left:2vw;font-size:0.6rem;"> {{post.createdAt.getFullYear()}}년 {{post.createdAt.getMonth()+1}}월
                {{post.createdAt.getDate()}}일 {{post.createdAt.getHours()+9}}시
                {{post.createdAt.getMinutes()}}분 {{post.createdAt.getSeconds()}}초</div>
					<div style="padding:2vw;font-size:0.7rem;">
						{{post.title}}
					</div>
					<div style="padding:2vw;">
						{{post.content}}
					</div>
					{% if post.img %}
						<img src="{{post.img}}" style="width:100%;margin-bottom:1vh;border-radius: 3px;">
					{% endif %}
				
					<div style="padding-left:2vw;padding-bottom: 5vh;">
						<!--
						<span onClick="comment({{post.id}});" style="align-items:center;margin-right:1vw;cursor:pointer;"><img src="/photo/message.png" style="width:30px; height:30px;margin-right:1vw;"> 0</span>-->
						
						<span onClick="hlike({{post.id}},{{loop.index}});" style="align-items:center;margin-right:1vw;cursor:pointer;">
							{% if post.tof=='false' %}
							<img src="/photo/likeBE.png" id="hlike{{loop.index}}"style="width:30px; height:30px;margin-right:1vw;">
							{% else %}
														<img src="/photo/likeAF.png" id="hlike{{loop.index}}"style="width:30px; height:30px;margin-right:1vw;">

							{% endif %}
							<span id="hlikeLength{{loop.index}}">
							{{post.cnt}}
							</span></span>
					</div>
					<!-- 댓글
					{% for comment in post %}
					<div>
						
					</div>
					{% endfor %}
					-->
				</div>
			</div>
			{% endfor %}
			
		</div>
		
	</div>
</div>

{% endblock %} {% block script %}
<script>
	const header=document.getElementsByClassName('header')[0];
	header.style.display="flex";
	const nav=document.getElementsByClassName('nav')[0];
	nav.style.display="flex";
	nav.childNodes[1].style.borderBottom="3px solid aquamarine";
	
	
	const board=document.getElementsByClassName('board')[0];
	const boardShadow=document.getElementsByClassName('boardShadow')[0];
	
	board.addEventListener('scroll',()=>{
		boardShadow.classList.add('boardShadow2');
		setTimeout(()=>{
			boardShadow.classList.remove('boardShadow2');
		},500);
	});
	
	const talk=document.getElementById('talk');
	const pass=document.getElementById('pass');
	const gossip=document.getElementById('gossip');
	const hoogi=document.getElementById('hoogi');
	
	talk.addEventListener('click',()=>{
		gossip.style.display="flex";
		hoogi.style.display="none";
		talk.style.borderBottom="2px solid aqua";
		pass.style.borderBottom="0px solid aqua";
	});
	pass.addEventListener('click',()=>{
		gossip.style.display="none";
		hoogi.style.display="flex";
		pass.style.borderBottom="2px solid aqua";
		talk.style.borderBottom="0px solid aqua";
	});
	
	function delPost(id){
		axios.post('/post/delPost',{
			id:id,
		}).then((res)=>{
			location.reload();
		});
		
	}
	function comment(id){
		axios.post('/post/',{
			id:id,
		});
		
	}
	function glike(id,idx){
		axios.post('/post/like',{
			id:id,
		}).then((res)=>{
			console.log(res.data.tof);
			if(res.data.tof=="false"){
			const glike=document.getElementById(`glike${idx}`);
			const glikeLength=document.getElementById(`glikeLength${idx}`);
				glike.src="/photo/likeBE.png"
				let cnt=Number(glikeLength.textContent);
				glikeLength.textContent=Number(cnt-1);
			}
			else{
			const glike=document.getElementById(`glike${idx}`);
			const glikeLength=document.getElementById(`glikeLength${idx}`);
				console.log(glikeLength);
				glike.src="/photo/likeAF.png"
				let cnt=Number(glikeLength.textContent);
				glikeLength.textContent=Number(cnt+1);
			}
		});
	}
</script>
{% endblock %}
