{% extends 'index.html' %} {% block content %}
<div class="first">
	<div class=" logo">
		<img src="/photo/logo.png" style="width:50px;height:50px;">공시생<span style="color:orange;">s</span><span style="color:red;">t</span>
	</div>
	<div class="login" >
		<div onClick="location.href='/kakao'" style="background: url(/photo/kakao_login.png) no-repeat;
    background-size: 100% 100%;
    width: 180px;
    height: 45px;
    cursor: pointer;margin-bottom:10px;">
		</div>
		<div onClick="location.href='/naver'" style="background: url(/photo/naver_login.png) no-repeat;
    background-size: 100% 100%;
    width: 180px;
    height: 45px;
    cursor: pointer;margin-bottom:10px;">
		</div>
		<div onClick="location.href='/google'" style="background: url(/photo/google_login.png) no-repeat;
    background-size: 100% 100%;
    width: 180px;
    height: 45px;
    cursor: pointer;margin-bottom:10px;">
		</div>
		
	</div>
</div>

{% endblock %} {% block script %}
<script>

</script>
{% endblock %}
