<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>공시생st</title>
        <meta name="viewport" content="width=device-width,user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="/index.css" />
		<!-- 로고 추가 -->
		<link rel="shortcut icon" href="/photo/logo.ico">
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="main">
                <div class="header" style="display: none;">
                        <img src="/photo/logo.png" style="width: 50px; height: 50px;" />공시생<span
                            style="color: orange;"
                            >s</span
                        ><span style="color: red;">t</span>
                    </div>
				<div class="nav" style="display:none;">
					<div class="navOne" onClick="location.href='/board'">home
					</div>
					<div class="navTwo" onClick="location.href='/timer'">timer
					</div>
					<div class="navThree" onClick="location.href='/room'">room
					</div>
					<div class="navFour" onClick="location.href='/setting'">설정
					</div>
				</div>
                {% block content %} {% endblock %}
            </div>
        </div>

        <div style="display: none;">
            아이콘 제작자
            <a
                href="https://www.flaticon.com/kr/authors/photo3idea-studio"
                title="photo3idea_studio"
                >photo3idea_studio</a
            >
            from <a href="https://www.flaticon.com/kr/" title="Flaticon">www.flaticon.com</a>
        </div>
        <div style="display: none;">
            아이콘 제작자 <a href="" title="Payungkead">Payungkead</a> from
            <a href="https://www.flaticon.com/kr/" title="Flaticon">www.flaticon.com</a>
        </div>
		<div style="display:none;">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
		<div style="display:none;">Icons made by <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
		<div style="display:none;">아이콘 제작자 <a href="https://www.flaticon.com/kr/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/kr/" title="Flaticon">www.flaticon.com</a></div>
        <script>
			
            history.pushState(null, null, location.href);
        </script>
        {% block script %} {% endblock %}
    </body>
</html>