{% extends 'index.html' %} {% block content %}
<div class="board" style="background: url(/photo/room.jpeg) no-repeat; background-size: 100% 100%;">
    <div class="calender">
		<!--
        <div>
            시험 날짜를
        </div>
        <div>
            체크해봐요.
        </div>
        <div>
            Click Calender!
        </div>
		-->
    </div>

    <div class="memo">
        <div>
            할일들을
        </div>
        <div>
            이곳에 적어두세요.
        </div>
        <div>
            Click PostIt!
        </div>
    </div>

    <div class="note">
        <div>
            기록은 중요한 
        </div>
        <div>
            습관이에요.
        </div>
        <div>
            Click Note!
        </div>
    </div>
</div>
<div class="memoList" style="display:none;text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">
	<div id="memoBack" style="    position: absolute;
    left: 1vw;
    z-index: 1;">
		<span><img src="/photo/back.png" style="width:40px;height:40px;"/> </span>
	</div>
	<div  style="padding: 35px;flex-direction:column;
	position:absolute;
	left:0px;
    width: 300px;
    height: 300px;
    background: url(/photo/memo.png) no-repeat;
    background-size: 100% 100%;">
		<textarea id="writeMemo"  style="resize: none;
    width: 100%;
    height: 90%;
    border: none;
    background: transparent;" required maxlength="200" placeholder="내용(최대200글자)" name="content"></textarea>
		<div id="completeMemo">
			<img src="/photo/memoBtn.png" style="width:30px;height:30px;">작성
		</div>
	</div>
	{% for item in memo %}
	<div style="padding: 35px;
	position:absolute;
	left:{{(loop.index)*300}}px;
    width: 300px;
    height: 300px;
    background: url(/photo/memo.png) no-repeat;
    background-size: 100% 100%;flex-direction:column;">
		<div style="font-size:0.7rem;">
			{{item.createdAt.getFullYear()}}년 {{item.createdAt.getMonth()+1}}월 {{item.createdAt.getDate()}}일 {{item.createdAt.getHours()+9}}시 {{item.createdAt.getMinutes()}}분 {{item.createdAt.getSeconds()}}초
		</div>
		<div>
			{{item.content}}
		</div>
	</div>
	{% endfor %}
</div>
<div class="noteList" style="display:none;display:none;text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">
	<div id="noteBack" style=" margin-left:2vw;">
		<span><img src="/photo/back.png" style="width:40px;height:40px;"/> </span>
	</div>
	<div style="width: 80%;
    height: 80%;
    margin-left: 10%;
    padding: 5vw;
    margin-top: 15%;">
		<div id="">
			
		</div>
		<div id="writeNote">
			
		</div>
	</div>
</div>


{% endblock %} {% block script %}
<script>
    const header = document.getElementsByClassName('header')[0];
    header.style.display = 'flex';
    const nav = document.getElementsByClassName('nav')[0];
    nav.style.display = 'flex';
    nav.childNodes[5].style.borderBottom = '3px solid aquamarine';
	
	const memo=document.getElementsByClassName('memo')[0];
	const note=document.getElementsByClassName('note')[0];
	const memoList=document.getElementsByClassName('memoList')[0];
	const noteList=document.getElementsByClassName('noteList')[0];
	const board=document.getElementsByClassName('board')[0];
	const memoBack=document.getElementById('memoBack');
	const noteBack=document.getElementById('noteBack');
	
	const completeMemo=document.getElementById('completeMemo');
	completeMemo.addEventListener('click',()=>{
		const writeMemo=document.getElementById('writeMemo');
		console.log(writeMemo.value);
		axios.post('/post/memo',{
			content:writeMemo.value,
		}).then((res)=>{
			location.reload();
		});
	});
	
	memo.addEventListener('click',()=>{
		memoList.style.display="flex";
		noteList.style.display="none";
		board.style.opacity="0.5";
	});
	memoBack.addEventListener('click',()=>{
		memoList.style.display="none";
		noteList.style.display="none";
		board.style.opacity="1";
	});
	note.addEventListener('click',()=>{
		memoList.style.display="none";
		noteList.style.display="flex";
		board.style.opacity="0.5";
		
	});
	noteBack.addEventListener('click',()=>{
		memoList.style.display="none";
		noteList.style.display="none";
		board.style.opacity="1";
	});
	
</script>
{% endblock %}