{% extends 'index.html' %} {% block content %}
<div class="boardBG">
    <div class="boardShadow">
        지금도 시간은 가고있어요...
    </div>
    <div class="boardNeedle"></div>
</div>
<div class="board">
    <div
        id=""
        style="
            box-shadow: 2px 2px grey;
            background: linear-gradient(90deg, white, transparent);
            width: 100%;
            height: 300px;
            padding: 2vw;
            flex-direction: column;
            border-radius: 10px;
        "
    >
        <div style="font-size: 0.8rem;justify-content: space-around;">
            <span style="" onClick="location.href='/logout';">로그아웃</span> <span id="deleteMe" style="margin-left: 3vw;">계정삭제</span>
        </div>
        <div style="justify-content: center;">
            <img
                src="{{user.profile}}"
                style="
                    width: 100px;
                    height: 100px;
                    border: 1px solid #d2d2d2;
                    border-radius: 50%;
                    padding: 5px;
                "
            />
        </div>
        <div style="margin-top:3vh; justify-content: center;align-items: center;">
            <span>{{user.nth}}수생 {{user.nick}}xx</span>
			<img src="/photo/gridBook.png" style="margin-left:5px;width:30px ;height:30px;">
			<span style="margin-left: 3vw;">공부시작- d+{{user.studystart}}</span>
        </div>
    </div>

   
	<div style="width: 100%;">
	<canvas id="line-chart" style="" width="500px" height="250px"></canvas> 
	</div>
	
    <div
        style="
            background: linear-gradient(90deg, white, transparent);
            flex-direction: column;
            height: 100px;
        "
    >
        <div
            style="
                box-shadow: 2px 2px grey;
                border-radius: 10px;
                padding: 2vw;
                cursor: pointer;
                margin-top: 2vh;
                margin-bottom: 2vh;
            "
        >
            내가쓴 글
        </div>
        
    </div>
    <div style="font-size: 0.8rem;margin-top: 2vh;background: linear-gradient(90deg, white, transparent); width: 100%;flex-direction:column;">
		<div style="align-items: center;">
		<img src="/photo/logo.png" style="width:30px;height:30px;">공시생<span style="color:orange;">s</span><span style="color:red;">t</span>
			<span style="margin-left:10px;"> 개발자 090.js 입니다.</span>
		</div>
		
		<div>
			잘부탁드립니다!
		</div>
		<div>
			ver-1.0.0
		</div>
		<div>
			문의는 아래 이메일을 통해 해주세요!
		</div>
		<div style="align-items: center;">
		<img src="/photo/gmail.png" style="width;30px;height:30px;"><a href="mailto:090tree@gmail.com" style="    text-decoration: underline;
    margin-left: 2vw;
    color: black;">090tree@gmail.com</a>
		</div>
    </div>
</div>


<div id="chartData"style="display:none;">
	{% for list in monthStudy %}
		<div>
		{{list}}
		</div>
	{% endfor %}
</div>

{% endblock %} {% block script %}
<script>
    const header = document.getElementsByClassName('header')[0];
    header.style.display = 'flex';
    const nav = document.getElementsByClassName('nav')[0];
    nav.style.display = 'flex';
    nav.childNodes[7].style.borderBottom = '3px solid aquamarine';

    const board = document.getElementsByClassName('board')[0];
    const boardShadow = document.getElementsByClassName('boardShadow')[0];

    board.addEventListener('scroll', () => {
        boardShadow.classList.add('boardShadow2');
        setTimeout(() => {
            boardShadow.classList.remove('boardShadow2');
        }, 500);
    });
	
	const deleteMe=document.getElementById('deleteMe');
	deleteMe.addEventListener('click',()=>{
		const chk=confirm('정말 탈퇴하시겠습니까?');
		if(chk==true){
			location.href="/delete/real090lear";
		}
		else{
			return false;
		}
	});
	const charData=[];
	
		  
	// 공부 차트
	new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: ["1일","2일","3일","4일","5일","6일","7일","8일","9일","10일","11일","12일","13일","14일","15일","16일","17일","18일","19일","20일","21일","22일","23일","24일","25일","26일","27일","28일","29일","30일","31일"],
    datasets: [{ 
        data: [1+"분",20000,3,4,5,6,7,8,9,10,11,3,3,3,3,3,32,2,2,,1,1,1,1,0],
        label: "월별 공부기록 (시간단위)",
        borderColor: "#7ee5cc",
		backgroundColor:"#d8f0e3",
        fill: true
      }
    ]
  },
  options: {
	 // responsive: false,
    title: {
      display: true,
    }
  }
});
</script>
{% endblock %}