{% extends 'index.html' %} {% block content %}

<div class="board">
    <div style="justify-content: space-evenly; margin-top: 3vh;">
		<div id="selDay2" style="align-items: center; display:none;">
			<img src="/photo/day.png" style="width: 30px; height: 30px;" />
		<select id="selDay" style="align-items: center;
    display: none;
    background: transparent;
    border: none;
    border-radius: 5px;
    text-shadow: rgb(210 210 210) -1px 0px, rgb(210 210 210) 0px 1px, rgb(210 210 210) 1px 0px, rgb(210 210 210) 0px -1px;">
				<option value="year" selected="selected">일년 기록</option>
			    <option value="month">한달 기록</option>
 			   <option value="day">하루 기록</option>
		</select>
		</div>
		
        <div
            id="navTimer"
            style="align-items: center; border-bottom: 2px solid aqua; cursor: pointer;"
        >
            <img src="/photo/stopwatch2.png" style="width: 30px; height: 30px;" />타이머
        </div>
        <div id="navRank" style="align-items: center; cursor: pointer;">
            <img src="/photo/ranking.png" style="width: 30px; height: 30px;" />랭킹
        </div>
    </div>

    <div
        id="timer"
        style="
            margin-top: 3vh;
            justify-content: center;
            align-items: center;
            background: #f7f6f4;
            width: 80%;
            border-radius: 50px;
            border: 1px solid #d7d3d2;
            height: 80%;
            margin-left: 10%;
            flex-direction: column;
            box-shadow: 5px 5px 5px 5px grey;
        "
    >
        <div
            style="
                border-radius: 50px;
                height: 90%;
                width: 90%;
                border: 1px solid #d7d3d2;
                background: #a5dcd7;
                flex-direction: column;
                align-items: center;
            "
        >
            <div
                id="timerTime"
                style="
                    border: 1px solid #ccd8d6;
                    margin-top: 10%;
                    background: #bac7c7;
                    width: 70%;
                    height: 40%;
                    border-radius: 10px;
                    align-items: center;
                    justify-content: center;
                "
            >
                0:0:0
            </div>
            <div
                style="
                    text-shadow: 0px 0px;
                    border: 1px solid #d7d3d2;
                    color: white;
                    width: 62%;
                    justify-content: space-evenly;
                    margin-top: 3vh;
                    border-radius: 10px;
                    background: #525051;
                "
            >
                <div id="timerStart" style="padding: 2vw; cursor: pointer;">
                    start
                </div>
                <div
                    id="timerStop"
                    style="
                        padding: 2vw;
                        border-left: 1px solid black;
                        border-right: 1px solid black;
                        cursor: pointer;
                    "
                >
                    stop
                </div>
                <div id="timerEnd" style="padding: 2vw; cursor: pointer;">
                    end
                </div>
            </div>
            <div
                style="
                    flex-direction: column;
                    margin-top: 2vh;
                    font-size: 0.8rem;
                    color: lightyellow;
                "
            >
                <div>
                    1초라는 물결이 모여
                </div>
                <div style="margin-bottom: 1vh;">
                    언젠가 파도가 된다면
                </div>
                <div>
                    그 물결은 너가 원하는
                </div>
                <div>
                    방향으로 흐를거야.
                </div>
            </div>
        </div>
    </div>

    <div id="rank" style="display: none; margin-top: 3vh; padding: 2vw;flex-direction: column;">

		
        <div id="day" style="flex-direction: column; width: 100%;">
            <div
                    style="
                        align-items: center;
                        width: 100%;
                        border-bottom: 1px solid #d2d2d2;
                        margin-bottom: 2vh;
                    "
                >
                    <span style="flex: 1;"
                        ><img src="/photo/meMedal.png" style="width: 30px; height: 30px;"
                    /></span>
                    <span style="margin-left: 2vw; flex: 1;">
						{% if dayMe.User.profile %}
                        <img
                            src="{{dayMe.User.profile}}"
                            style="
                                width: 30px;
                                height: 30px;
                                border: 1px solid #d2d2d2;
                                border-radius: 50%;
                                padding: 2px;
                            "
                    />
						{% else %}
						<img
                            src="{{user.profile}}"
                            style="
                                width: 30px;
                                height: 30px;
                                border: 1px solid #d2d2d2;
                                border-radius: 50%;
                                padding: 2px;
                            "
                    />	
						{% endif %}
				</span>
                    <span style="flex: 3; margin-left: 1vw;">{{user.nick}}xx</span>
				{% if dayMe %}
                    <div style="flex: 6; font-size: 0.7rem;">
                        <span style="margin-left: 4vw;"> time-</span>
                        <span style="margin-left: 1vw;"> {{dayMe.time//3600%60}}h:</span>
                        <span> {{dayMe.time//60%60}}m:</span>
                        <span> {{dayMe.time%60}}s</span>
                    </div>
                    <span style="margin-left: 2vw; flex: 2; font-size: 0.7rem;"> 상위 {{dayIdx}}%</span>
                </div>
				{% else %}
                    <div style="flex: 6; font-size: 0.7rem;">
                        <span style="margin-left: 4vw;"> time-</span>
                        <span style="margin-left: 1vw;"> 0h:</span>
                        <span> 0m:</span>
                        <span> 0s</span>
                    </div>
                    <span style="margin-left: 2vw; flex: 2; font-size: 0.7rem;"> 상위 100%</span>
                </div>
				{% endif %}
			
				{% for list in dayList %}
				<div style="flex-direction: column; margin-bottom: 1vh;">
				{% if loop.index==1 %}
                    <div style="align-items: center;">
                        <span style="flex: 1;"
                            ><img src="/photo/oneMedal.png" style="width: 30px; height: 30px;"
                        /></span>
				{% elif loop.index==2 %}		
					<div  style="align-items: center;">
                        <span style="flex: 1;"
                            ><img src="/photo/twoMedal.png" style="width: 30px; height: 30px;"
                        /></span>
				{% elif loop.index==3 %}
                    <div  style="align-items: center;">
                        <span style="flex: 1;"
                            ><img src="/photo/threeMedal.png" style="width: 30px; height: 30px;"
                        /></span>
				{% else %}
                    <div  style="align-items: center;">
                        <span style="flex: 1;"
                            ><img src="/photo/elseMedal.png" style="width: 30px; height: 30px;"
                        /></span>
				{% endif %}
                        <span style="flex: 1;">
                            <img
                                src="{{list.User.profile}}"
                                style="
                                    width: 30px;
                                    height: 30px;
                                    border: 1px solid #d2d2d2;
                                    border-radius: 50%;
                                    padding: 2px;
                                "
                        /></span>
                        <span style="flex: 3; margin-left: 1vw;"> {{list.User.nth}}수생 {{list.User.nick}}xx</span>
                        <div style="flex: 4;">
                            <span style="margin-left: 4vw;"> time-</span>
                            <span style="margin-left: 1vw;"> {{list.time//3600%60}}h:</span>
                            <span style=""> {{list.time//60%60}}m:</span>
                            <span style=""> {{list.time%60}}s</span>
                        </div>
                    </div>
                </div>
				{% endfor %}
        </div>
		
		<div id="month" style="display:none;flex-direction: column; width: 100%;">
            <div
                    style="
                        align-items: center;
                        width: 100%;
                        border-bottom: 1px solid #d2d2d2;
                        margin-bottom: 2vh;
                    "
                >
                    <span style="flex: 1;"
                        ><img src="/photo/meMedal.png" style="width: 30px; height: 30px;"
                    /></span>
                    <span style="margin-left: 2vw; flex: 1;">
                        <img
                            src="{{monthMe.User.profile}}"
                            style="
                                width: 30px;
                                height: 30px;
                                border: 1px solid #d2d2d2;
                                border-radius: 50%;
                                padding: 2px;
                            "
                    /></span>
                    <span style="flex: 3; margin-left: 1vw;">{{monthMe.User.nick}}xx</span>
                    <div style="flex: 6; font-size: 0.7rem;">
                        <span style="margin-left: 4vw;"> time-</span>
                        <span style="margin-left: 1vw;"> {{monthMe.time//3600%60}}h:</span>
                        <span> {{monthMe.time//60%60}}m:</span>
                        <span> {{monthMe.time%60}}s</span>
                    </div>
                    <span style="margin-left: 2vw; flex: 2; font-size: 0.7rem;"> 상위 {{monthIdx}}%</span>
                </div>
				{% for list in monthList %}
				<div style="flex-direction: column; margin-bottom: 1vh;">
				{% if loop.index==1 %}
                    <div style="align-items: center;">
                        <span style="flex: 1;"
                            ><img src="/photo/oneMedal.png" style="width: 30px; height: 30px;"
                        /></span>
				{% elif loop.index==2 %}		
					<div  style="align-items: center;">
                        <span style="flex: 1;"
                            ><img src="/photo/twoMedal.png" style="width: 30px; height: 30px;"
                        /></span>
				{% elif loop.index==3 %}
                    <div  style="align-items: center;">
                        <span style="flex: 1;"
                            ><img src="/photo/threeMedal.png" style="width: 30px; height: 30px;"
                        /></span>
				{% else %}
                    <div  style="align-items: center;">
                        <span style="flex: 1;"
                            ><img src="/photo/elseMedal.png" style="width: 30px; height: 30px;"
                        /></span>
				{% endif %}
                        <span style="flex: 1;">
                            <img
                                src="{{list.User.profile}}"
                                style="
                                    width: 30px;
                                    height: 30px;
                                    border: 1px solid #d2d2d2;
                                    border-radius: 50%;
                                    padding: 2px;
                                "
                        /></span>
                        <span style="flex: 3; margin-left: 1vw;"> {{list.User.nth}}수생 {{list.User.nick}}xx</span>
                        <div style="flex: 4;">
                            <span style="margin-left: 4vw;"> time-</span>
                            <span style="margin-left: 1vw;"> {{list.time//3600%60}}h:</span>
                            <span style=""> {{list.time//60%60}}m:</span>
                            <span style=""> {{list.time%60}}s</span>
                        </div>
                    </div>
                </div>
				{% endfor %}
        </div>
						
						<div id="year" style="display:none;flex-direction: column; width: 100%;">
            <div
                    style="
                        align-items: center;
                        width: 100%;
                        border-bottom: 1px solid #d2d2d2;
                        margin-bottom: 2vh;
                    "
                >
                    <span style="flex: 1;"
                        ><img src="/photo/meMedal.png" style="width: 30px; height: 30px;"
                    /></span>
                    <span style="margin-left: 2vw; flex: 1;">
                        <img
                            src="{{yearMe.User.profile}}"
                            style="
                                width: 30px;
                                height: 30px;
                                border: 1px solid #d2d2d2;
                                border-radius: 50%;
                                padding: 2px;
                            "
                    /></span>
                    <span style="flex: 3; margin-left: 1vw;">{{yearMe.User.nick}}xx</span>
                    <div style="flex: 6; font-size: 0.7rem;">
                        <span style="margin-left: 4vw;"> time-</span>
                        <span style="margin-left: 1vw;"> {{yearMe.time//3600%60}}h:</span>
                        <span> {{yearMe.time//60%60}}m:</span>
                        <span> {{yearMe.time%60}}s</span>
                    </div>
                    <span style="margin-left: 2vw; flex: 2; font-size: 0.7rem;"> 상위 {{yearIdx}}%</span>
                </div>
				{% for list in yearList %}
				<div style="flex-direction: column; margin-bottom: 1vh;">
				{% if loop.index==1 %}
                    <div style="align-items: center;">
                        <span style="flex: 1;"
                            ><img src="/photo/oneMedal.png" style="width: 30px; height: 30px;"
                        /></span>
				{% elif loop.index==2 %}		
					<div  style="align-items: center;">
                        <span style="flex: 1;"
                            ><img src="/photo/twoMedal.png" style="width: 30px; height: 30px;"
                        /></span>
				{% elif loop.index==3 %}
                    <div  style="align-items: center;">
                        <span style="flex: 1;"
                            ><img src="/photo/threeMedal.png" style="width: 30px; height: 30px;"
                        /></span>
				{% else %}
                    <div  style="align-items: center;">
                        <span style="flex: 1;"
                            ><img src="/photo/elseMedal.png" style="width: 30px; height: 30px;"
                        /></span>
				{% endif %}
                        <span style="flex: 1;">
                            <img
                                src="{{list.User.profile}}"
                                style="
                                    width: 30px;
                                    height: 30px;
                                    border: 1px solid #d2d2d2;
                                    border-radius: 50%;
                                    padding: 2px;
                                "
                        /></span>
                        <span style="flex: 3; margin-left: 1vw;"> {{list.User.nth}}수생 {{list.User.nick}}xx</span>
                        <div style="flex: 4;">
                            <span style="margin-left: 4vw;"> time-</span>
                            <span style="margin-left: 1vw;"> {{list.time//3600%60}}h:</span>
                            <span style=""> {{list.time//60%60}}m:</span>
                            <span style=""> {{list.time%60}}s</span>
                        </div>
                    </div>
                </div>
				{% endfor %}
        </div>
    </div>
</div>

{% endblock %} {% block script %}
<script>
    const header = document.getElementsByClassName('header')[0];
    header.style.display = 'flex';
    const nav = document.getElementsByClassName('nav')[0];
    nav.style.display = 'flex';
    nav.childNodes[3].style.borderBottom = '3px solid aquamarine';

    const navTimer = document.getElementById('navTimer');
    const navRank = document.getElementById('navRank');
    const timer = document.getElementById('timer');
    const rank = document.getElementById('rank');
	const selDay=document.getElementById('selDay');
	const selDay2=document.getElementById('selDay2');

    navTimer.addEventListener('click', () => {
		selDay.style.display="none";
		selDay2.style.display="none";
        timer.style.display = 'flex';
        rank.style.display = 'none';
        navTimer.style.borderBottom = '2px solid aqua';
        navRank.style.borderBottom = '0px solid aqua';
    });

    navRank.addEventListener('click', () => {
		selDay.style.display="flex";
		selDay2.style.display="flex";
        timer.style.display = 'none';
        rank.style.display = 'flex';
        navTimer.style.borderBottom = '0px solid aqua';
        navRank.style.borderBottom = '2px solid aqua';
    });
	const day=document.getElementById('day');
	const month=document.getElementById('month');
	const year=document.getElementById('year');
	selDay.addEventListener('change',()=>{
		if(selDay.value=="year"){
			day.style.display="none";
			month.style.display="none";
			year.style.display="flex";
		}
		else if(selDay.value=="month"){
			day.style.display="none";
			month.style.display="flex";
			year.style.display="none";
		}
		else if(selDay.value=="day"){
			day.style.display="flex";
			month.style.display="none";
			year.style.display="none";
		}
	});
	

    // 타이머 post 알고리즘
    const timerTime = document.getElementById('timerTime');
    const timerStart = document.getElementById('timerStart');
    const timerEnd = document.getElementById('timerEnd');
    const timerStop = document.getElementById('timerStop');

    let worker;
    let stopTimer = true;
    let h = 0,
        r = 0,
        s = 0;
    let notWorker;
    timerStart.addEventListener('click', () => {
        if (!window.Worker) {
            if (stopTimer == true) {
                notWorker = setInterval(() => {
                    s++;
                }, 1000);
                stopTimer = true;
            }
        } else {
            if (worker && stopTimer == true) return;
            stopTimer = true;
            startTimer();
        }
    });
    timerStop.addEventListener('click', () => {
        stopTimer = false;
        if (worker) {
            worker.terminate();
        } else {
            clearInterval(notWorker);
        }
    });
    timerEnd.addEventListener('click', () => {
        timerTime.textContent = '0:0:0';
		if(h>24)return;
        const time = s + r * 60 + h * 3600;
        axios.post('/post/timer', {
            time: time,
        });
        if (worker) {
            (h = 0), (r = 0), (s = 0);
            worker.terminate();
            worker = null;
        } else {
            clearInterval(notWorker);
        }
    });
    function startTimer() {
        if (stopTimer == true) {
            worker = new Worker('/timer.js');
        }
        worker.postMessage('start');
        worker.onmessage = function (e) {
            s += e.data.time;
            if (s == 60) {
                s = 0;
                r++;
            }
            if (r == 60) {
                r = 0;
                h++;
            }
            timerTime.textContent = `${h}:${r}:${s}`;
        };
    }
</script>
{% endblock %}